<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>MDG Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYW1zdG9uZTMyNiIsImEiOiJmWVRIem1VIn0.RjPpuvyFwOqDS9l5S8u7gw';
var map = L.mapbox.map('map', null).setView([22.76, -25.84], 3);

var layers = {
	RateContinous1A: L.mapbox.tileLayer('amstone326.lj6gf366'),
	Outdoors: L.mapbox.tileLayer('examples.ik7djhcc'),
	Satellite: L.mapbox.tileLayer('examples.map-igb471ik')
};

//Add gridLayers and gridControls
RateContinous1A_gridlayer = L.mapbox.gridLayer('amstone326.lj6gf366').addTo(map);
L.mapbox.gridControl(RateContinous1A_gridlayer).addTo(map);

//Add layer toggler
layers.RateContinous1A.addTo(map);
L.control.layers(layers).addTo(map);

</script>


</body>
</html>
