<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>MDG Map</title>
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<nav class="navbar navbar-default">
	<a href="#">Target 1A</a>
	<a href="#">Target 1B</a> 
</nav>
<iframe width="100%" height="500px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/amstone326.azag7gb9.html?access_token=pk.eyJ1IjoiYW1zdG9uZTMyNiIsImEiOiJmWVRIem1VIn0.RjPpuvyFwOqDS9l5S8u7gw"></iframe>
</body>
</html>
