<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<div>
When the Millennium Development Goals were established, a completion goal of December 31, 2015 was set. 
After nearly a decade-and-a-half of work, that deadline is now approaching, and increasing efforts are 
being directed toward evaluating how successful that work has been. The purpose of this site is to use 
data-driven mapping to provide a visual evaluation of how well individual countries have done on each target, 
and how their progress stacks up to: a) the level of progress that  would represent fulfillment of the 
target’s stated goals, and b) the average level of progress actually made over all developing nations.</br></br>

The map is made up of several “layers,” each of which presents a visualization of developing countries’ 
progress on one of the targets outlined above, based upon a certain method of evaluating progress. 
The scope of the visualization was limited to developing countries only, since the MDGs were written to be 
relevant specifically to underdeveloped nations. Most if not all of the targets are trivial for developed 
nations, and their presence on the map would skew and detract from a meaningful picture of those for whom 
it is truly relevant. The map includes all of the targets for MDGs 1-6, except for target 6C.</br></br>

For each target, there are two different map "layers" which represent two distinct visualizations of 
progress. The first layer, termed the “Rate of Progress Layer” on the map, should be viewed as a comparison 
of how quickly different countries have made progress over the last 25 years. The map legend for each layer 
of this type provides what the average rate of progress over all developing countries was. The diverging 
color scheme then provides a clear visualization of whether each country falls above or below that average, 
and to what extent. This metric is important for classifying how productive individual countries have been 
on a certain target over the period of MDG implementation. This ability to easily identify which countries 
have been most – and least – productive is the first step in being able to identify the causes of 
differential progress. </br></br>The second layer, termed the “Status on Goal Layer” on the map, should be viewed as 
a comparison of the absolute point of progress at which each country lies for a given target. The 
monochrome color gradient provides a clear visual of relative percent completions of the established 
target between countries. For point of comparison, the map legend for each layer of this type also provides 
what the average percent completion was over all developing countries. This metric is important for 
straightforward classification of which countries are doing better or worse as they stand currently, 
regardless of where they started out at the beginning of the MDG time period. This ability to easily 
identify and understand which countries are suffering most on a given target is essential to the making of 
any plans for future actions.</br></br>

The MDG-Map is intented as a tool for individuals and organizations interested in seeing and evaluating how well certain
countries are doing, how much overall progress has been made on a certain target, what patterns of progress 
have been across certain regions, and more. <b>Above all, it offers a holistic picture of differential MDG 
progress in a way that has yet to be done by another organization.</b>

</div></br>

<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" class="btn btn-default btn-lg">
	Enter Map 
	<span class="glyphicon glyphicon-arrow-right"></span>
</a>