<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<div>
When the Millennium Development Goals were established, a completion goal of December 31, 2015 was set. 
With this deadline now approaching, increasing efforts are being directed toward evaluations of how 
successful the last fifteen years of work have been. The purpose of this site is to use data-drive mapping 
to provide a visual evaluation of how well individual countries have done. Specifically, the project
portrays how a country's individual progress on each MDG stacks up to: a) the level of progress that 
would represent fulfillment of the target’s stated goals, and b) the average level of progress actually 
made over all developing nations.</br></br>

The map covers MDGs 1 through 6. MDGs 7 and 8 were excluded because... For each target, 2 distinct
visualizations of progress can be viewed. 
</div>

<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" class="btn btn-default btn-lg">
	Enter Map 
	<span class="glyphicon glyphicon-arrow-right"></span>
</a>