<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>


<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" class="btn btn-default btn-lg">
	Enter Map 
	<span class="glyphicon glyphicon-arrow-right"></span>
</a>