<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<div>
	<a href="/rate/1A/amstone326.jdkro1or/amstone326.jdkro1or">Target 1A</a>
	<a> | </a>
	<a href="/rate/1B/amstone326.owsl9pb9/amstone326.owsl9pb9"}">Target 1B</a>
	<a> | </a> 
	<a href="/rate1C">Target 1C</a>
	<a> | </a> 
	<a href="/rate2A">Target 2A</a> 
	<a> | </a>
	<a href="/rate3A">Target 3A</a>
	<a> | </a>
	<a href="/rate4A">Target 4A</a>
	<a> | </a>
	<a href="/rate5A">Target 5A</a>
	<a> | </a>
	<a href="/rate5B">Target 5B</a> 
	<a> | </a>
	<a href="/rate6A">Target 6A</a>
	<a> | </a>
	<a href="/rate6B">Target 6B</a>  
</div>
