<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<div style="font-size:medium;"> 
When the Millennium Development Goals were established, a completion goal of December 31, 2015 was set. 
After nearly a decade-and-a-half of work, that deadline is now approaching, and increasing efforts are 
being directed toward evaluating how successful that work has been. The purpose of this site is to use 
data-driven mapping to provide a visual evaluation of how well individual countries have done on each target, 
and how their progress stacks up to: a) the level of progress that  would represent fulfillment of the 
target’s stated goals, and b) the average level of progress actually made over all developing nations.</br></br>

The map is made up of several “layers,” each of which presents a visualization of developing countries’ 
progress on one of the targets, based upon a certain method of evaluating progress. 
The scope of the visualization was limited to developing countries only, since the MDGs were written to be 
relevant specifically to underdeveloped nations. Most if not all of the targets are trivial for developed 
nations, and their presence on the map would skew and detract from a meaningful picture of those for whom 
it is truly relevant. The map includes all of the targets for MDGs 1-7, except for target 6C. MDG 8 is currently 
not included because: a) its targets are of a collective nature, and therefore cannot be meaningfully broken 
down by country, and b) it is the only MDG for which targets are not assigned specific indicators, 
making the method of statistical evaluation I used for all of the other goals impossible (for full details
on how analysis of progress was done, see Sections 7-10 of the Full Report).</br></br>

For each target, there are two different map "layers" which represent two distinct visualizations of 
progress. The first layer, termed the “Rate of Progress Layer” on the map, should be viewed as a comparison 
of how quickly different countries have made progress over the last 25 years. The map legend for each layer 
of this type provides what the average rate of progress over all developing countries was. The diverging 
color scheme then provides a clear visualization of whether each country falls above or below that average, 
and to what extent. This metric is important for classifying how productive individual countries have been 
on a certain target over the period of MDG implementation. The ability to easily identify which countries 
have been most – and least – productive is the first step in being able to identify the causes of 
differential progress. </br></br>The second layer, termed the “Status on Goal Layer” on the map, should be viewed as 
a comparison of the absolute point of progress at which each country lies for a given target. The 
monochrome color gradient provides a clear visual of relative percent completions of the established 
target between countries. This metric is important for 
straightforward classification of which countries are doing better or worse as they stand currently, 
regardless of where they started out at the beginning of the MDG time period. The ability to easily 
identify and understand which countries are suffering most on a given target is essential to any
 decisions being made regarding future plans of action.</br></br>

The MDG-Map is intented as a tool for individuals and organizations interested in seeing and evaluating how well certain
countries are doing, how much overall progress has been made on a certain target, what patterns of progress 
have been across certain regions, and more. Above all, it offers a holistic picture of differential MDG 
progress in a form and scope that does not exist elsewhere.

</div></br>

<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" class="btn btn-default btn-lg" style="font-size:large">
	Enter Map 
	<span class="glyphicon glyphicon-arrow-right"></span>
</a></br></br>