<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>


<a href="/rate/1A/amstone326.jdkro1or/amstone326.jdkro1or" class="btn btn-info btn-lg">Enter Map <span class="glyphicon glyphicon-arrow-right"></span></a>