<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<div>
When the Millennium Development Goals were established, a target deadline of December 31, 2015 was set. 
With this deadline now appraoching, increasing efforts are being directed toward evaluations of how 
successful the last fifteen years of work have been. The purpose of this site is to provide a visualization 
of this evaluation, via data-driven mapping. 

Each of the eight MDGs is broken down into one or more measurable targets. For each of the established 
targets, the UN had to also select a practical, numeric metric with which to measure and report progress 
on that target. The metrics used to measure progress on a target are called indicators. For every indicator, 
a country can be assigned a numerical value to indicate its progress. All indicators are either represented 
as a percentage (e.g. indicator 1.1, the percentage of the population living on less than $1.25 a day), 
or as a count (e.g. indicator 5.1, the number of maternal deaths per 100,000 live births). 
By collecting data on each of the indicators for a target at country and regional levels, 
the UN can track and report on how much progress is being made each year, on each target. 
In total, 21 targets and 60 associated indicators are being used to measure progress toward the MDGs. 
The detailed break-down of targets for each goal, and indicators for each target, is as follows:
</div>
<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" class="btn btn-default btn-lg">
	Enter Map 
	<span class="glyphicon glyphicon-arrow-right"></span>
</a>