<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<html>
<head>
	<style>
	
	.title {
		font-weight:bold;
		font-size:large;
	}
	
	.goals {
		font-size:medium;
		margin-left:auto;
    	margin-right:auto;
	}
	
	.targets {
		text-indent:30px;
		margin-left:auto;
    	margin-right:auto;
	}
	
	.box {
	    background-color: rgba(160, 160, 160, .4);
    	padding: 25px;
    	border: 20px solid rgba(128, 128, 128, .4);
    	margin: 25px;
    	text-align:center;
    }
	
	</style>
</head>
<body>
	<div id='explanation'>
	In 2000, the largest gathering of world leaders in history met at United Nations headquarters in 
	New York for the UN Millennium Summit. The result of the summit was the unanimously adopted Millennium 
	Declaration, which includes a short list of ambitious global development goals to be achieved over the 
	next decade and a half. Designated the “Millennium Development Goals”, the MDGs consist of eight specific 
	goals that together address poverty and hunger, education, gender equality, child mortality, maternal health, 
	combating AIDS, malaria and other diseases, environmental sustainability and a global partnership for 
	development. Each of the eight goals is then broken down into one or more specific targets that are easier to 
	measure and quantify.</br></br>
	Philosophically, the MDGs are significant for the statement they make about responsibility 
	for change and improvement. By signing onto the Millennium Declaration, the countries present made it the 
	shared responsibility of all governments of the world to achieve a radically improved standard of living for 
	those living in the world’s developing countries, rather than leaving it to those nations to deal with on 
	their own. Accordingly, work toward the MDGs has encompassed far more than just efforts by the United Nations. 
	Countless initiatives, projects, and pledges have been launched by countless governments, NGOs, and other 
	organizations, all with the goal of working toward some aspect of the MDGs. 
	Since being established in 2000, the MDGs have represented the most ambitious, concrete, and promising 
	unified effort that has ever been made toward eradicating extreme poverty and suffering throughout the 
	developing world. The 8 Millennium Development Goals and their subtargets are:</br></br>
	</div>
	<div class='box'>
		<div class='title'>The Millennium Development Goals</div></br>
		<div class='goals'>Goal 1: Eradicate extreme poverty and hunger</div>
			<div class='targets'>1A: Halve, between 1990 and 2015, the proportion of people whose income is less than $1 a day</div>
			<div class='targets'>1B: Achieve full and productive employment and decent work for all, including women and young people</div>
			<div class='targets'>1C: Halve, between 1990 and 2015, the proportion of people who suffer from hunger</div></br>
		<div class='goals'>Goal 2: Achieve universal primary education</div>
			<div class='targets'>2A: Ensure that, by 2015, children everywhere, boys and girls alike, 
			will be able to complete a full course of primary schooling</div></br>
		<div class='goals'>Goal 3: Promote gender equality and empower women</div>
			<div class='targets'>3A: Eliminate gender disparity in primary and secondary education, preferably by 2005, 
			and in all levels of education no later than 2015</div></br>
		<div class='goals'>Goal 4: Reduce child mortality</div>
			<div class='targets'>4A: Reduce by two thirds, between 1990 and 2015, the under-five mortality rate</div></br>
		<div class='goals'>Goal 5: Improve maternal health</div>
			<div class='targets'>5A: Reduce by three quarters, between 1990 and 2015, the maternal mortality ratio</div>
			<div class='targets'>5B: Achieve, by 2015, universal access to reproductive health</div></br>
		<div class='goals'>Goal 6: Combat HIV/AIDS, malaria and other diseases</div>
			<div class='targets'>6A: Have halted by 2015 and begun to reverse the spread of HIV/AIDS</div>
			<div class='targets'>6B: Achieve, by 2010, universal access to treatment for HIV/AIDS for all those who need it</div>
			<div class='targets'>6C: Have halted by 2015 and begun to reverse the incidence of malaria and other major diseases</div></br>
		<div class='goals'>Goal 7: Ensure environmental sustainability</div>
			<div class='targets'>7A: Integrate the principles of sustainable development into country policies and programmes and 
			reverse the loss of environmental resources</div>
			<div class='targets'>7B: Reduce biodiversity loss, achieving, by 2010, a significant reduction in the rate of loss</div>
			<div class='targets'>7C: Halve, by 2015, the proportion of the population without sustainable access to 
			safe drinking water and basic sanitation</div>
			<div class='targets'>7D: By 2020, to have achieved a significant improvement in the lives of at least 100 million slum dwellers</div></br>
		<div class='goals'>Goal 8: Develop a global partnership for development</div>
			<div class='targets'>8A: Develop further an open, rule-based, predictable, non-discriminatory trading and financial system</div>
			<div class='targets'>8B: Address the special needs of the least developed countries</div>
			<div class='targets'>8C: Address the special needs of landlocked countries and small island developing states</div>
			<div class='targets'>8D: Deal comprehensively with the debt problems of developing countries through national and international measures in order to make debt sustainable in the long term</div>
	</div>
	
</body>
</html>
