<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>MDG Map</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<style>
		body { margin:0; padding:0; }
		#map { 
			position:absolute; 
			top:0; 
			bottom:0; 
			width:100%; }
		
		#target_selector {
		  font-size:15px;
		  font-weight:1100;
		  position:absolute;
		  top:10px;left:310px;
		  text-align:center;
		  z-index:1;
		  border-radius:3px;
		  border:1px solid rgba(0.4,0,0,0.4);
  		}
  		
  		#show-explanation {
  			position:absolute;
		  	bottom:85px;left:12px;
		  	border-radius:7px;
		  	z-index:1;
		}
  		
  		#back-button {
  			position:absolute;
		  	bottom:40px;left:12px;
		  	border-radius:7px;
		  	z-index:1;
		}
  		
  		form {
  	      background-color:#000;
  	      color:white;
		  font-size:13px;
		  position:absolute;
		  top:55px;left:500px;
		  z-index:1;
		  border-radius:5px;
		  border-style:solid;
		  border-width:5px;
		  border-color:black;
  		}
  		
  		.box {
		    background-color: rgba(160, 160, 160, 1);
	    	padding: 10px;
	    	border: 15px solid rgba(128, 128, 128, 1);
	    	text-align:center;
	    	position:absolute;
		  	bottom:30px;left:320px;right:320px;
		  	border-radius:7px;
	    	z-index:1;
   	 	}
		
		
	</style>
</head>
<body>

<div id='map'>
<nav id='target_selector'>
	<a href="/rate/1A/amstone326.2ca6ecdi/amstone326.7atc5wmi" style="color:white; text-shadow: 1px 1px #000000">Target 1A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/1B/amstone326.wdx11yvi/amstone326.lt4eu3di" style="color:white; text-shadow: 1px 1px #000000">Target 1B</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a> 
	<a href="/rate/1C/amstone326.4xre8kt9/amstone326.b1wf80k9" style="color:white; text-shadow: 1px 1px #000000">Target 1C</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a> 
	<a href="/rate/2A/amstone326.0pfirudi/amstone326.46fj38fr" style="color:white; text-shadow: 1px 1px #000000">Target 2A</a> 
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/3A/amstone326.p9orbe29/amstone326.1nkzw7b9" style="color:white; text-shadow: 1px 1px #000000">Target 3A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/4A/amstone326.1j198uxr/amstone326.hdjz6w29" style="color:white; text-shadow: 1px 1px #000000">Target 4A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/5A/amstone326.ol1pp66r/amstone326.311hsemi" style="color:white; text-shadow: 1px 1px #000000">Target 5A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/5B/amstone326.spu5l8fr/amstone326.7i0h33di" style="color:white; text-shadow: 1px 1px #000000">Target 5B</a> 
	</br>
	<a href="/rate/6A/amstone326.kaitfbt9/amstone326.9qjdzpvi" style="color:white; text-shadow: 1px 1px #000000">Target 6A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/6B/amstone326.e8vholxr/amstone326.ixfuhaor" style="color:white; text-shadow: 1px 1px #000000">Target 6B</a>  
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/7A/amstone326.a41mj9k9/amstone326.c7peqaor" style="color:white; text-shadow: 1px 1px #000000">Target 7A</a>  
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/7B/amstone326.ztsgiudi/amstone326.jo2sm7vi" style="color:white; text-shadow: 1px 1px #000000">Target 7B</a> 
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/7C/amstone326.rhllq5mi/amstone326.0ngbvs4i" style="color:white; text-shadow: 1px 1px #000000">Target 7C</a> 
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/rate/7D/amstone326.tv6rms4i/amstone326.x43lq5mi" style="color:white; text-shadow: 1px 1px #000000">Target 7D</a> 
</nav>
<form id='layer_selector'>
	<input type="radio" name="layer" value="rate" checked="checked"> Rate of Progress Layer<br>
	<input type="radio" name="layer" value="status"> Status on Goal Layer
</form>
<div class='box' id='map_explanation' hidden='true'>
	<div id='explanation_text' style='color:black; font-size:13px'>
		<h3>Reading the Map</h3>
		For each MDG target, there are two different layer types, representing two ways of measuring progress
		on the target: </br></br>
		1. <u>“Rate of Progress"</u> -- This layer should be viewed as a comparison 
		of how quickly different countries have made progress over the period of MDG implementation. The map legend for 
		each layer of this type provides what the average rate of progress was over all developing countries. The diverging 
		color scheme then provides a visualization of whether each country falls above or below that average, 
		and to what extent. This metric is important for classifying how productive individual countries have been 
		on a certain target over the period of MDG implementation.</br></br>
		2. <u>“Status on Goal"</u> -- This layer should be viewed as 
		a comparison of the absolute point of progress at which each country stands for a given target. The 
		monochrome color gradient provides a visualization of relative percent completions of the given 
		target amongst different countries. This metric is important for 
		straightforward classification of which countries are doing better or worse as they stand currently.
		</br></br><button class="btn btn-default" id='close-box'>Close</button>
	</div>
</div>
<div id='mapIdHolder' hidden=true><%= mapId %></div>
<div id='statusMapIdHolder' hidden=true><%= statusMapId %></div>
<div id='targetNumHolder' hidden=true><%= targetNum %></div>
<a href="/" class="btn btn-default" id="back-button" style="color:black">
	<span class="glyphicon glyphicon-arrow-left"></span>
	Back to Site 
</a>
<button class="btn btn-default" id="show-explanation">How to Read the Map</button>

</div>

<script>

var mapId = $('#mapIdHolder').text();
var statusMapId =  $('#statusMapIdHolder').text();
var targetNum = $('#targetNumHolder').text() ;

L.mapbox.accessToken = 'pk.eyJ1IjoiYW1zdG9uZTMyNiIsImEiOiJmWVRIem1VIn0.RjPpuvyFwOqDS9l5S8u7gw';
var map = L.mapbox.map('map', mapId).setView([22.76, 40], 2);

$(function(){
	$('input[type="radio"]').click(function() {
		window.location.replace('/status/' + targetNum + "/" + statusMapId + "/" + mapId);
	});
});

$('#show-explanation').click(function() {
	$('#map_explanation').show();
});

$('#close-box').click(function() {
	$('#map_explanation').hide();
});


</script>


</body>
</html>
