<!-- Embed the layout.ejs file -->
<% layout('base_layout') -%>

<html>
<head>
	<style>
	
	.box {
	    background-color: solid white;
    	padding: 25px;
    	border: 10px solid rgba(0, 0, 0, 1);
    	margin: 25px;
    	text-align:center;
    }
	
	</style>
</head>
<body>
	<div>
	The MDG-Map Project was completed as part of the EAS 499 Senior Capstone Thesis requirement for a Bachelor
	of Applied Science in Computer Science at the University of Pennsylvania. The full report with details on background, 
	steps taken, decisions made in data analysis, noteable outcomes and trends, etc. is enclosed below.
	</div>
	<div class='box'>
		<p>REPORT CONTENT</p>
	</div>
	
</body>
</html>