<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>MDG Map</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<style>
		body { margin:0; padding:0; }
		#map { 
			position:absolute; 
			top:0; 
			bottom:0; 
			width:100%; }
		
		#target_selector {
		  font-size:15px;
		  font-weight:1100;
		  position:absolute;
		  top:10px;left:230px;
		  z-index:1;
		  border-radius:3px;
		  border:1px solid rgba(0.4,0,0,0.4);
  		}
  		
  		#back-button {
  			position:absolute;
		  	bottom:40px;left:12px;
		  	text-color:black;
		  	border-radius:7px;
		  	z-index:1;
		}
  		
  		form {
  	      background-color:#000;
  	      color:white;
		  font-size:13px;
		  position:absolute;
		  top:35px;left:500px;
		  z-index:1;
		  border-radius:5px;
		  border-style:solid;
		  border-width:5px;
		  border-color:black;
  		}
		
		
	</style>
</head>
<body>

<div id='map'>
<nav id='target_selector'>
	<a href="/status/1A/amstone326.7atc5wmi/amstone326.2ca6ecdi" style="color:white; text-shadow: 1px 1px #000000">Target 1A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/1B/amstone326.lt4eu3di/amstone326.wdx11yvi" style="color:white; text-shadow: 1px 1px #000000">Target 1B</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a> 
	<a href="/status/1C/amstone326.b1wf80k9/amstone326.4xre8kt9" style="color:white; text-shadow: 1px 1px #000000">Target 1C</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a> 
	<a href="/status/2A/amstone326.46fj38fr/amstone326.0pfirudi" style="color:white; text-shadow: 1px 1px #000000">Target 2A</a> 
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/3A/amstone326.1nkzw7b9/amstone326.p9orbe29" style="color:white; text-shadow: 1px 1px #000000">Target 3A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/4A/amstone326.hdjz6w29/amstone326.1j198uxr" style="color:white; text-shadow: 1px 1px #000000">Target 4A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/5A/amstone326.311hsemi/amstone326.ol1pp66r" style="color:white; text-shadow: 1px 1px #000000">Target 5A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/5B/amstone326.7i0h33di/amstone326.spu5l8fr" style="color:white; text-shadow: 1px 1px #000000">Target 5B</a> 
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/6A/amstone326.9qjdzpvi/amstone326.kaitfbt9" style="color:white; text-shadow: 1px 1px #000000">Target 6A</a>
	<a style="color:white; text-shadow: 1px 1px #000000"> | </a>
	<a href="/status/6B/amstone326.ixfuhaor/amstone326.e8vholxr" style="color:white; text-shadow: 1px 1px #000000">Target 6B</a>  
</nav>
<form id='layer_selector'>
	<input type="radio" name="layer" value="rate"> Rate of Progress Layer<br>
	<input type="radio" name="layer" value="status" checked="checked"> Status on Goal Layer
</form>
<div id='mapIdHolder' hidden=true><%= mapId %></div>
<div id='rateMapIdHolder' hidden=true><%= rateMapId %></div>
<div id='targetNumHolder' hidden=true><%= targetNum %></div>
<a href="/" class="btn btn-default" id="back-button">
	<span class="glyphicon glyphicon-arrow-left"></span>
	Back to Site 
</a>
</div>

<script>

var mapId = $('#mapIdHolder').text();
var rateMapId =  $('#rateMapIdHolder').text();
var targetNum = $('#targetNumHolder').text() ;

L.mapbox.accessToken = 'pk.eyJ1IjoiYW1zdG9uZTMyNiIsImEiOiJmWVRIem1VIn0.RjPpuvyFwOqDS9l5S8u7gw';
var map = L.mapbox.map('map', mapId).setView([22.76, 40], 2);

$(function(){
	$('input[type="radio"]').click(function() {
		window.location.replace('/rate/' + targetNum + "/" + rateMapId + "/" + mapId);
	});
});


</script>


</body>
</html>
