<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>MDG Map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>


<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYW1zdG9uZTMyNiIsImEiOiJmWVRIem1VIn0.RjPpuvyFwOqDS9l5S8u7gw';
var map = L.mapbox.map('map', null).setView([22.76, -25.84], 3);

var layers = {
	ProgressRate1A: L.mapbox.tileLayer('amstone326.yrl1h5mi'),
	ProgressRate1B: L.mapbox.tileLayer('amstone326.f92akyb9')
};

//Create gridLayers and gridControls
var gridLayers = {};
var gridControls = {};

Rate1A_gridLayer = L.mapbox.gridLayer('amstone326.yrl1h5mi');
Rate1A_gridControl = L.mapbox.gridControl(Rate1A_gridLayer);
Rate1B_gridLayer = L.mapbox.gridLayer('amstone326.f92akyb9');
Rate1B_gridControl = L.mapbox.gridControl(Rate1B_gridLayer);

gridLayers['ProgressRate1A'] = Rate1A_gridLayer;
gridLayers['ProgressRate1B'] = Rate1B_gridLayer;
gridControls['ProgressRate1A'] = Rate1A_gridControl;
gridControls['ProgressRate1B'] = Rate1B_gridControl;

//Add layer toggler
layers.ProgressRate1A.addTo(map);
L.control.layers(layers).addTo(map);

currentGridLayer = null;
currentGridControl = null;

//Event listener for when layer is changed
map.on('baselayerchange', function(e) {
	console.log('LAYER CHANGED');
	var layerName = e.name;
	console.log(layerName);
	if (currentGridLayer != null) {
		currentGridLayer.remove(map);
		currentGridControl.remove(map);
	}
	gridLayer = gridLayers[layerName];
	gridLayer.addTo(map);
	gridControl = gridControls[layerName];
	gridControl.addTo(map);
	currentGridLayer = gridLayer;
	currentGridControl = gridControl;
});

</script>


</body>
</html>
